:root {
  /* colors */
  --color-primary: #50b2c0;
  --color-primary-hover: #3a9ca8;
  --color-primary-soft: #e6f5f7;
  --background-color: whitesmoke;
  --card-background-color: white;
  --box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  --card-border-radius: 8px;
  --botton-border-radius: 6px;
  --primary-text-color: #111111;
  --secondary-text-color: #222222;

  /* Display */
  --text-logo-lg: 1.75rem;
  --text-logo-sm: 1.25rem;

  /* Display */
  --text-display-xl: 3rem; /* 64px */
  --text-display-lg: 3.5rem; /* 56px */

  /* Headings */
  --text-h1: 2.5rem; /* 40px */
  --text-h2: 2rem; /* 32px */
  --text-h3: 1.5rem; /* 24px */
  --text-h4: 1.25rem; /* 20px */

  /* Body */
  --text-body-lg: 1.125rem; /* 18px */
  --text-body: 1rem; /* 16px */
  --text-body-sm: 0.875rem; /* 14px */

  /* UI */
  --text-caption: 0.75rem; /* 12px */
}

.cta-container {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-self: center;
  padding: 2rem 1rem;
  color: black;
  background-color: #111111;
  margin-top: 5rem;
  justify-content: center;
}
.cta-container .tag {
  font-size: var(--text-caption);
  background-color: var(--primary-text-color);
  border-radius: 10rem;
  padding: 4px;
  width: 10rem;
  text-align: center;
  color: white;
}
.cta-container .header {
  font-size: var(--text-h2);
  color: var(--color-primary);
}
.cta-container .subheader {
  font-size: var(--text-body);
  width: 50%;
  text-align: center;
}
.cta-btns {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.cta-btns button {
  padding: 10px 1rem;
  border: none;
  display: flex;
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--botton-border-radius);
  align-items: center;
  gap: 0.5rem;
}
.cta-btns button:hover {
  background-color: var(--color-primary-hover);
}
.cta-btns .button2 {
  padding: 10px 1rem;
  border: 1px var(--color-primary) solid;
  display: flex;
  background-color: transparent;
  color: white;
  border-radius: var(--botton-border-radius);
  align-items: center;
  gap: 0.5rem;
}
.button2 {
  background-color: transparent;
}

.cta-btns button img {
  width: 20px;
}
@media (min-width: 300px) and (max-width: 992px) {
  .cta-container {
    width: 100%;
    gap: 0.6rem;
    margin-left: auto;
    margin-right: auto;
  }

  .cta-container .tag {
    width: 100%;
  }
  .cta-container .header {
    font-size: var(--text-h3);
    text-align: center;
  }
  .cta-container .subheader {
    font-size: var(--text-body);
    width: 100%;
    text-align: center;
  }
  .pricing-cards {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
  }
  .pricing-cards .card {
    max-width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    padding: 1rem;
  }
}
